# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart related
.dart_tool/
.packages
pubspec.lock
*.flutter-plugins
*.flutter-plugins-dependencies
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
linux/flutter/
web/.dart_tool/
windows/flutter/
build/
firebase_app_id_file.json

# Xcode / iOS related
xcuserdata/
DerivedData/
*.xcworkspace
*.xcuserstate

# Node.js related
node_modules/
npm-debug.log
yarn.lock
.pnpm-debug.log
.eslintcache
.parcel-cache/

# VS Code related
.vscode/
*.code-workspace

# Python related
__pycache__/
.env
venv/
pip-log.txt
pip-delete-this-directory.txt

# Java related
*.jar
*.war
*.ear

# Ignore specific directories (User Requested)
Act04/
CW1/
CW2/
act_2/
app04/
cw/
junk/
toggle/
weather/
weather_info_app/
hw2/hw2/

